<div class="dayMenu_poppup" ng-if="$ctrl.poppupStatus === 'dayMenu'">
    <ion-header-bar class="bar-dark">
        <h1 class="title">{{$ctrl.dayMenuTitle}}</h1>
        <button class="button button-icon" ng-click="$ctrl.closeTaskModal()">
            <i class="icon ion-android-close"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="bar">
            <button class="button icon-left ion-ios-plus-outline button-positive" ng-click="$ctrl.createEventButton()">Create Event</button>
        </div>
        <div ng-if="$ctrl.dayEvents.length > 0">
            <div class="list">
                <div class="item item-divider">
                    Events per day:
                </div>
                <div class="item_wrap" ng-repeat="dayEvent in $ctrl.dayEvents track by $index">

                    <div class="item" ng-class="{'done': dayEvent.done}"  ng-click="$ctrl.openDayEvent(dayEvent)">
                        <div class="progress_event" style="width: {{dayEvent.progress}}%;">
                            <div>{{dayEvent.progress}}%</div>
                        </div>
                        <span>{{dayEvent.rating}}<span class="icon ion-ios-star-outline ionic_rating_icon_on"></span>  -  </span>
                        <span>{{dayEvent.title}}</span>
                    </div>
                    <div
                        class="item item_subtask"
                        ng-class="{'done': subtask.done}"
                        ng-repeat="subtask in dayEvent.subtasksData track by $index"
                        ng-click="$ctrl.openDayEvent(subtask)">
                        <div class="progress_event" style="width: {{subtask.progress}}%;">
                            <div>{{subtask.progress}}%</div>
                        </div>
                        <span>{{subtask.rating}}<span class="icon ion-ios-star-outline ionic_rating_icon_on"></span>  -  </span>
                        <span>{{subtask.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</div> <!-- dayMenu -->

<div ng-if="$ctrl.poppupStatus === 'addEvent' || $ctrl.poppupStatus === 'editEvent' || $ctrl.poppupStatus === 'addSubtask'">
    <ion-header-bar class="bar-dark">
        <h1 ng-if="$ctrl.poppupStatus === 'addEvent'" class="title">Create a new Event</h1>
        <h1 ng-if="$ctrl.poppupStatus !== 'addEvent'" class="title">{{$ctrl.activeEvent.title}}</h1>
        <button class="button button-icon" ng-click="$ctrl.closeTaskModal()">
            <i class="icon ion-android-close"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <form class="event_menu_form" ng-submit="$ctrl.eventFormAction()" ng-init="$ctrl.configureNewEvent()">
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Event title:</span>
                    <input ng-model="$ctrl.event.title" type="text">
                </label>
                <ul class="list">
                    <li class="item item-toggle"
                        ng-if="($ctrl.poppupStatus !== 'addEvent' && $ctrl.poppupStatus !== 'addSubtask') || $ctrl.poppupStatus === 'editEvent'">
                        Done event variant:
                        <label class="toggle toggle-assertive" >
                            <input type="checkbox" ng-model="$ctrl.event.doneStatus">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item">
                        <div class="raiting_wrapper">
                            <span>Rating:</span>
                            <span
                                class="icon ion-ios-star ionic_rating_icon_on"
                                ng-click="$ctrl.event.rating = 1"></span>
                            <span
                                class="icon  ionic_rating_icon_on"
                                ng-class="{'ion-ios-star': ($ctrl.event.rating >= 2), 'ion-ios-star-outline': $ctrl.event.rating < 2}"
                                ng-click="$ctrl.event.rating = 2" ></span>
                            <span
                                class="icon ionic_rating_icon_on"
                                ng-class="{'ion-ios-star': ($ctrl.event.rating >= 3), 'ion-ios-star-outline': $ctrl.event.rating < 3}"
                                ng-click="$ctrl.event.rating = 3"></span>
                            <span
                                class="icon ionic_rating_icon_on"
                                ng-class="{'ion-ios-star': ($ctrl.event.rating >= 4), 'ion-ios-star-outline': $ctrl.event.rating < 4}"
                                ng-click="$ctrl.event.rating = 4"></span>
                            <span
                                class="icon ionic_rating_icon_on"
                                ng-class="{'ion-ios-star': ($ctrl.event.rating == 5), 'ion-ios-star-outline': $ctrl.event.rating < 5}"
                                ng-click="$ctrl.event.rating = 5"></span>
                        </div>
                    </li>
                    <li class="item item-toggle" ng-if="$ctrl.poppupStatus === 'editEvent' && !$ctrl.event.doneStatus && $ctrl.event.subtasks.length === 0">
                        Progress:
                        <div class="range">
                            <input type="range" min="0" max="100" step="10" ng-model="$ctrl.event.progress" ng-change="{{$ctrl.event.progress == 100 ? $ctrl.event.done = true : $ctrl.event.done = false}}">
                            <span>{{$ctrl.event.progress}} %</span>
                        </div>
                    </li>
                    <li class="item item-toggle" ng-if="$ctrl.poppupStatus === 'editEvent' && $ctrl.event.doneStatus && $ctrl.event.subtasks.length === 0">
                        Done event:
                        <label class="toggle toggle-assertive" >
                            <input type="checkbox" ng-model="$ctrl.event.done">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle" ng-if="$ctrl.poppupStatus === 'editEvent' && $ctrl.activeEvent.repeat.repeat">
                        Edit all repeatted events from set:
                        <label class="toggle toggle-assertive" >
                            <input type="checkbox" ng-model="$ctrl.event.editAllRepeatedEvents">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle" ng-if="$ctrl.poppupStatus != 'editEvent' && $ctrl.poppupStatus != 'addSubtask'">
                        Repeated event:
                        <label class="toggle toggle-assertive" >
                            <input type="checkbox" ng-model="$ctrl.event.repeat.repeat">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>
                <ion-list ng-if="$ctrl.event.repeat.repeat && $ctrl.poppupStatus != 'editEvent'">
                    <ion-checkbox ng-model="$ctrl.event.repeat.repeatDays.mo">Monday</ion-checkbox>
                    <ion-checkbox ng-model="$ctrl.event.repeat.repeatDays.tu">Tuesday</ion-checkbox>
                    <ion-checkbox ng-model="$ctrl.event.repeat.repeatDays.we">Wednesday</ion-checkbox>
                    <ion-checkbox ng-model="$ctrl.event.repeat.repeatDays.th">Thursday</ion-checkbox>
                    <ion-checkbox ng-model="$ctrl.event.repeat.repeatDays.fr">Friday</ion-checkbox>
                    <ion-checkbox ng-model="$ctrl.event.repeat.repeatDays.sa">Saturday</ion-checkbox>
                    <ion-checkbox ng-model="$ctrl.event.repeat.repeatDays.su">Sunday</ion-checkbox>
                </ion-list>
                <button type="submit" class="button button-block button-positive" ng-if="$ctrl.poppupStatus === 'addEvent' || $ctrl.poppupStatus === 'addSubtask'">Create Event</button>
                <button type="submit" class="button button-block button-positive" ng-if="$ctrl.poppupStatus === 'editEvent'">Edit Event</button>
                <span ng-if="$ctrl.createEventError.error" class="error_message">{{$ctrl.createEventError.message}}</span>
            </div>
        </form>
    </ion-content>
</div> <!-- addEvent -->
<div class="event_menu" ng-if="$ctrl.poppupStatus === 'eventShow'">
    <ion-header-bar class="bar-dark">
        <h1 class="title">{{$ctrl.activeEvent.title}}</h1>
        <button class="button button-icon" ng-click="$ctrl.closeTaskModal()">
            <i class="icon ion-android-close"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="bar add_subtask" ng-if="$ctrl.activeEvent.type != 'subtask'">
            <button class="button icon-left ion-ios-plus-outline button-positive" ng-click="$ctrl.createSubtaskButton()">Create subtask</button>
        </div>
        <form class="event_menu_form" ng-submit="$ctrl.eventFormAction()">
            <label class="item item-input">
                <span class="input-label">Event title:</span>
                <input ng-model="$ctrl.event.title" type="text">
            </label>
            <ul class="list">
                <li class="item item-toggle" ng-if="$ctrl.event.subtasks.length < 2">
                    Done event variant:
                    <label class="toggle toggle-assertive" >
                        <input type="checkbox" ng-model="$ctrl.event.doneStatus">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item">
                    <div class="raiting_wrapper">
                        <span>Rating:</span>
                        <span
                            class="icon ion-ios-star ionic_rating_icon_on"
                            ng-click="$ctrl.event.rating = 1"></span>
                        <span
                            class="icon  ionic_rating_icon_on"
                            ng-class="{'ion-ios-star': ($ctrl.event.rating >= 2), 'ion-ios-star-outline': $ctrl.event.rating < 2}"
                            ng-click="$ctrl.event.rating = 2" ></span>
                        <span
                            class="icon ionic_rating_icon_on"
                            ng-class="{'ion-ios-star': ($ctrl.event.rating >= 3), 'ion-ios-star-outline': $ctrl.event.rating < 3}"
                            ng-click="$ctrl.event.rating = 3"></span>
                        <span
                            class="icon ionic_rating_icon_on"
                            ng-class="{'ion-ios-star': ($ctrl.event.rating >= 4), 'ion-ios-star-outline': $ctrl.event.rating < 4}"
                            ng-click="$ctrl.event.rating = 4"></span>
                        <span
                            class="icon ionic_rating_icon_on"
                            ng-class="{'ion-ios-star': ($ctrl.event.rating == 5), 'ion-ios-star-outline': $ctrl.event.rating < 5}"
                            ng-click="$ctrl.event.rating = 5"></span>
                    </div>
                </li>
                <li class="item item-toggle" ng-if="!$ctrl.event.doneStatus && $ctrl.event.subtasks.length < 2">
                    Progress:
                    <div class="range">
                        <input type="range" min="0" max="100" step="10" ng-model="$ctrl.event.progress" ng-change="{{$ctrl.event.progress == 100 ? $ctrl.event.done = true : $ctrl.event.done = false}}">
                        <span>{{$ctrl.event.progress}} %</span>
                    </div>
                </li>
                <li class="item item-toggle" ng-if="$ctrl.event.doneStatus && $ctrl.event.subtasks.length < 2">
                    Done event:
                    <label class="toggle toggle-assertive" >
                        <input type="checkbox" ng-model="$ctrl.event.done">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-toggle" ng-if="$ctrl.activeEvent.repeat.repeat">
                    Edit all repeatted events from set:
                    <label class="toggle toggle-assertive" >
                        <input type="checkbox" ng-model="$ctrl.event.editAllRepeatedEvents">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
            <button type="submit" class="button button-block button-positive">Edit Event</button>
            <span ng-if="$ctrl.createEventError.error" class="error_message">{{$ctrl.createEventError.message}}</span>
        </form>
        <div class="list">
            <!-- <div class="item item-button-right" ng-click="$ctrl.editEventButton()">
                <span>Edit</span>
                <button class="button button-positive">
                  <i class="icon ion-compose"></i>
              </button>
          </div> -->
            <div class="item item-button-right" ng-click="$ctrl.postponeButton()" ng-if="$ctrl.activeEvent.type != 'subtask'">
                <span>New date</span>
                <button class="button button-positive">
                    <i class="icon ion-ios-calendar-outline"></i>
                </button>
            </div>
            <div class="item item-button-right" ng-click="$ctrl.removeEventButton()">
                <span>Remove</span>
                <button class="button button-positive">
                    <i class="icon ion-trash-a"></i>
                </button>
            </div>
            <div class="item item-button-right" ng-click="$ctrl.addEvToArchive()" ng-if="$ctrl.activeEvent.type != 'subtask'">
                <span>Add to archive</span>
                <button class="button button-positive">
                    <i class="icon ion-ios-folder-outline"></i>
                </button>
            </div>
        </div>
    </ion-content>
</div> <!-- Event menu -->

<div ng-if="$ctrl.poppupStatus === 'removeEvent'">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Remove this event?</h1>
        <button class="button button-icon" ng-click="$ctrl.closeTaskModal()">
            <i class="icon ion-android-close"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="bar" ng-if="!$ctrl.activeEvent.repeat.repeat">
            <button class="button icon-left button-positive" ng-click="$ctrl.removeEvent()">Yes</button>
            <button class="button icon-left button-positive" ng-click="$ctrl.closeTaskModal('removeEventQuestion')">No</button>
        </div>
        <div class="bar" ng-if="$ctrl.activeEvent.repeat.repeat">
            <button class="button icon-left button-positive" ng-click="$ctrl.removeEvent()">Only current event</button>
            <button class="button icon-left button-positive" ng-click="$ctrl.removeEvent('repeatedEvents')">All repeated events</button>
        </div>
    </ion-content>
</div>
