<svg ng-init="$ctrl.initGraph()" id='complexSVGfromIllustrator' height='600' width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>

<script id="remove-point-question.html" type="text/ng-template">
    <ion-modal-view>   
        <ion-header-bar class="bar-dark">
            <h1 class="title">Remove point?</h1>
            <button class="button button-icon" ng-click="$ctrl.closePointModal()">
                <i class="icon ion-android-close"></i>
            </button>
        </ion-header-bar>
        <ion-content>
            <button class="button button-calm" ng-click="$ctrl.removePoint()">Yes</button>
            <button class="button" ng-click="$ctrl.closePointModal('removePointQuestion')">No</button>
        </ion-content>
    </ion-modal-view> 
</script>



<script id="event-modal.html" type="text/ng-template">
    <ion-modal-view>
        <div ng-if="$ctrl.poppupStatus === 'eventMenu'">
            <ion-header-bar class="bar-dark">
                <h1 class="title">{{$ctrl.activeEvent.titleDateFormat}}</h1>
                <button class="button button-icon" ng-click="$ctrl.closePointModal()">
                    <i class="icon ion-android-close"></i>
                </button>
            </ion-header-bar>
            <ion-content>
                <button class="button button-calm" ng-click="$ctrl.editEventButton()">Edit</button>
                <button class="button button-calm" ng-click="$ctrl.removePointButton()">Remove</button>
                <button class="button button-calm" ng-click="$ctrl.addEventToCalendar()">Add to calendar</button>
                <p>Event title: {{$ctrl.activeEvent.title}}</p>
                <p>Done: {{$ctrl.activeEvent.done}}</p>
            </ion-content>
        </div>
        <div ng-if="$ctrl.poppupStatus === 'addEvent' || $ctrl.poppupStatus === 'editEvent'">
            <ion-header-bar class="bar-dark">
                <h1 class="title">Create a new Event</h1>
                <button class="button button-icon" ng-click="$ctrl.closePointModal()">
                    <i class="icon ion-android-close"></i>
                </button>
            </ion-header-bar>
            <ion-content>
                <form ng-submit="$ctrl.eventFormAction()">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <span class="input-label">Event title:</span>
                            <input ng-model="$ctrl.event.title" type="text">
                        </label>
                        <ul class="list" ng-if="$ctrl.poppupStatus === 'editEvent'">
                            <li class="item item-toggle">
                                Done event:
                                <label class="toggle toggle-assertive" >
                                    <input type="checkbox" ng-model="$ctrl.event.done">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                        <div class="raiting_wrapper">
                            <span>Rating:</span>
                            <span 
                                class="icon ion-ios-star ionic_rating_icon_on"
                                ng-click="$ctrl.event.rating = 1"></span>
                            <span 
                                class="icon  ionic_rating_icon_on" 
                                ng-class="{'ion-ios-star': ($ctrl.event.rating >= 2), 'ion-ios-star-outline': $ctrl.event.rating < 2}"
                                ng-click="$ctrl.event.rating = 2" ></span>
                            <span 
                                class="icon ionic_rating_icon_on" 
                                ng-class="{'ion-ios-star': ($ctrl.event.rating >= 3), 'ion-ios-star-outline': $ctrl.event.rating < 3}"
                                ng-click="$ctrl.event.rating = 3"></span>
                            <span 
                                class="icon ionic_rating_icon_on" 
                                ng-class="{'ion-ios-star': ($ctrl.event.rating >= 4), 'ion-ios-star-outline': $ctrl.event.rating < 4}"
                                ng-click="$ctrl.event.rating = 4"></span>
                            <span 
                                class="icon ionic_rating_icon_on" 
                                ng-class="{'ion-ios-star': ($ctrl.event.rating == 5), 'ion-ios-star-outline': $ctrl.event.rating < 5}"
                                ng-click="$ctrl.event.rating = 5"></span>
                        </div>
                        <button type="submit" class="button button-block button-positive" ng-if="$ctrl.poppupStatus === 'addEvent'">Create Event</button>
                        <button type="submit" class="button button-block button-positive" ng-if="$ctrl.poppupStatus === 'editEvent'">Edit Event</button>
                        <span ng-if="$ctrl.createEventError.error" class="error_message">{{$ctrl.createEventError.message}}</span>
                    </div>
                </form>
            </ion-content>
        </div> <!-- addEvent -->
    </ion-modal-view>
</script>