<div class="bar">
    <button class="button icon-left ion-ios-plus-outline button-positive" ng-click="$ctrl.openPoppupAddTask()">Add task</button>
</div>

<div class="list">
    <div class="item item-divider">
        Tasks list:
    </div>
    <div class="item item-button-right" ng-repeat="task in $ctrl.tasks track by $index">
        <div ng-click="$ctrl.openTask(task.id)">
            {{task.hasOwnProperty('shirtTitle') ? task.shirtTitle : task.title}}
        </div>
        <div class="buttons">
            <button class="button button-light" ng-if="task.points.length > 0" ng-click="$ctrl.openTask(task.id)">
              {{task.points.length}} 
              <span ng-if="task.points.length === 1">event</span>
              <span ng-if="task.points.length > 1">events</span>
            </button>
            <button class="button button-positive" ng-click="$ctrl.editTask(task)">
              <i class="icon ion-compose"></i>
            </button>
            <button class="button button-positive" ng-click="$ctrl.removeTaskButton(task)">
              <i class="icon ion-trash-a"></i>
            </button>
        </div>
    </div>
</div>

<script id="action-question.html" type="text/ng-template">
    <ion-modal-view>   
        <ion-header-bar class="bar-dark">
            <h1 class="title">Remove task?</h1>
            <button class="button button-icon" ng-click="$ctrl.closePointModal()">
                <i class="icon ion-android-close"></i>
            </button>
        </ion-header-bar>
        <ion-content>
            <button class="button button-calm" ng-click="$ctrl.removeTask()">Yes</button>
            <button class="button" ng-click="$ctrl.actionQuestionModal.hide()">No</button>
        </ion-content>
    </ion-modal-view> 
</script>

<script id="create-task.html" type="text/ng-template">
    <ion-modal-view>   
        <ion-header-bar class="bar-dark">
            <h1 class="title">Create task</h1>
            <button class="button button-icon" ng-click="$ctrl.closeTaskModal()">
                <i class="icon ion-android-close"></i>
            </button>
        </ion-header-bar>
        <ion-content>
            <form ng-submit="$ctrl.createTask(createTaskForm)" name="createTaskForm">
                <div class="list list-inset">
                    <label class="item item-input">
                        <span class="input-label">Task title:</span>
                        <input ng-model="$ctrl.task.title" type="text" name="title">
                    </label>
                    <button type="submit" class="button button-block button-positive" ng-if="$ctrl.actionStatus === 'addTask'">Create Task</button>
                    <button type="submit" class="button button-block button-positive" ng-if="$ctrl.actionStatus === 'editTask'">Edit Task</button>
                    <span ng-if="$ctrl.createEventError.error" class="error_message">{{$ctrl.actionTaskError}}</span>
                </div>
            </form>
        </ion-content>
    </ion-modal-view> 
</script>

