<div>
  <div>
    <button ng-click="login()">Login</button>
    <select name="calendar" ng-model="selectedCalendar" ng-options="cal.summary for cal in calendars"></select>
    <button ng-click="loadCalendars()">Get Calendars</button>
    <button ng-click="loadEvents()">Get Calendar Entries</button>
  </div>

  <ul>
    <li ng-repeat="item in calendarItems">{{item.summary}}</li>
  </ul>
  <div ng-show="currentUser">
    <h1>You're authenticated!</h1>

    Logged in as {{currentUser.displayName}}

  </div>
</div>
