<div class="list">
  <div class="item item-button-right" ng-repeat="event in $ctrl.archiveEvents track by $index">
    <span>{{event.title}}</span>
    <div class="buttons">
      <button class="button button-positive" ng-click="$ctrl.setEventToCalendar(event)">
        <i class="icon ion-ios-calendar-outline"></i>
      </button>
      <button class="button button-positive" ng-click="$ctrl.editEvent(event)">
        <i class="icon ion-compose"></i>
      </button>
      <button class="button button-positive" ng-click="$ctrl.removeEvent(event)">
        <i class="icon ion-trash-a"></i>
      </button>
    </div>
  </div>
</div>
