<div class="data_page">
    <div class="bar">
        <button class="button icon-left ion-ios-cloud-upload-outline button-positive" ng-click="$ctrl.sendData()">Send data</button>
        <button class="button icon-left ion-ios-cloud-download-outline button-positive" ng-click="$ctrl.getData()">Get data</button>
    </div>

    <div class="list list-inset"ng-if="$ctrl.responseStatus">
        <div class="item">
            <p><i class="icon ion-information-circled"></i> <b>{{$ctrl.responseStatus}}</b></p>
        </div>
    </div>
</div>


