<li ng-repeat="event in $ctrl.day.tasks" ng-class="{'done': event.done,
	'event_latency_status_7': event.latencyStatus == 7 && !event.done,
	'event_latency_status_6': event.latencyStatus == 6 && !event.done,
	'event_latency_status_5': event.latencyStatus == 5 && !event.done,
	'event_latency_status_4': event.latencyStatus == 4 && !event.done,
	'event_latency_status_3': event.latencyStatus == 3 && !event.done,
	'event_latency_status_2': event.latencyStatus == 2 && !event.done,
	'event_latency_status_1': event.latencyStatus == 1 && !event.done}">
	<!-- <div class="text" ng-if="!event.shirtTitle">{{event.title}}</div>
	<div class="text" ng-if="event.shirtTitle">{{event.shirtTitle}}</div> -->
	<span ng-if="event.rating <= 3">
		<span class="icon ion-ios-star-outline ionic_rating_icon_on"></span>
		<span class="icon ion-ios-star-outline ionic_rating_icon_on" ng-if="event.rating >= 2"></span>
		<span class="icon ion-ios-star-outline ionic_rating_icon_on" ng-if="event.rating >= 3"></span>
	</span>
	<span ng-if="event.rating >= 4">
		<span>{{event.rating}}</span>
		<span class="icon ion-ios-star ionic_rating_icon_on"></span>
	</span>
</li>
