 reset */
html {
    margin: 0 !important;
}

fieldset {
    border: none;
}

img {
    border-style: none;
}

button {
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
}

blockquote,
q {
    quotes: none;
}

q:before,
q:after {
    content: '';
}

img {
    vertical-align: top;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

a {
    font: 14px 'Ubuntu', sans-serif;
    color: #42515A;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

section {
    position: relative;
}

form input[type="submit"] {
    border: none;
}

form fieldset {
    padding: 0;
}

.clearfix {
    clear: both;
    overflow: hidden;
}
/* end reset */


/* main */
.fc-day-grid-event .fc-time {display: none;}

.toggle.toggle-assertive input:checked + .track {
	border-color: #387ef5;
	background-color: #387ef5;
}
/* end main */


/* calendar */
.container {
  width: 1170px;
  padding-top: 40px;
}
.container .row {
  margin-bottom: 20px;
}
table {
  font-family: sans-serif;
  background: antiquewhite;
  width: 100%;
}
table .day {
  background: #FFEEC6;
}
.today {
  color: red;
  font-size: 16px;
  font-weight: bold;
}
table .caption {
  position: relative;
  background: #ffcccc;
  font-family: arial black;
  text-align: center;
  height: 70px;
  border-radius: 10px;
  vertical-align: middle!important;
  font-size: 20px;
}
table .caption + tr {
  text-transform: uppercase;
}
table .caption button {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
}
table .caption button.prev {
  left: 20px;
  background: url(../img/controls.png) no-repeat 0 -32px;
}
table .caption button.next {
  right: 20px;
  background: url(../img/controls.png) no-repeat -43px -32px;
}
table tbody td {
  background: #fff;
  border-left: 1px solid #ddd;
  height: 70px;
  width: 200px;
  vertical-align: top;
}
table tbody li {
  display: inline-block;
  background:#B0E4AF;
  margin-top: 5px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  font-size: 10px;
}
.done {
  background:#ccc;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 1px;
  border-bottom: 1px solid #ddd;
}
.error_message {
  color: red;
}
.item-button-right input {
  height: inherit;
}
.raiting_wrapper .ionic_rating_icon_on {
  position: relative;
  font-size: 30px;
}
.event_latency_status_7 {
  background: #ff4d4d;
}
.event_latency_status_6 {
  background: #ff794d;
}
.event_latency_status_5 {
  background: #ffa64d;
}
.event_latency_status_4 {
  background: #ffd24d;
}
.event_latency_status_3 {
  background: #ffff4d;
}
.event_latency_status_2 {
  background: #d2ff4d;
}
.event_latency_status_1 {
  background: #B0E4AF;
}
.ui_view_wrapper {
  margin-top: 44px;
}
.calendar_page .bar{
  position: static;
  margin-top: 45px;
}
.calendar_page .days_week {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;

}
.calendar_page .days_week div {
  text-align: center;
  flex-grow: 1;
  /*border: 1px solid #000;*/
}
.event_menu_form .item-toggle, .item-toggle.item-complex .item-content {
  padding-right: 0;
}
.event_menu_form ul.list .item-toggle{
  pointer-events: auto;
}
.add_subtask {
  border-bottom: 1px solid #fff;
  position: static;
}
.dayMenu_poppup .item_subtask {
  padding-left: 50px;
}
.dayMenu_poppup .item_subtask:before {
  content: '';
  left: 26px;
  display: block;
  width: 13px;
  position: absolute;
  height: 13px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* progress event value */
.dayMenu_poppup .item {
  background-color: transparent;
}
.dayMenu_poppup .progress_event {
  padding-top: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ccc;
  z-index: -1;
}
.dayMenu_poppup .progress_event div {
  font-size: 30px;
  color: #fff;
  opacity: 0.2;
  text-align: center;
}
 .bar {
     z-index: 10;
 }
 .data_page .bar {
     position: relative;
 }
 .data_page .list-inset p{
     font-size: 17px;
 }
/* end calendar

/* calendar */
.calendar_page .days {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
   justify-content: left;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.calendar_page .days .day {
  background: #f6fdac;
  border: 1px solid #000;
  padding: 3px;
  width: 14%;
  box-sizing: border-box;
  position: relative;
}
.calendar_page .days .empty {
  background: #d4ced4;
}

 .calendar_page .days .day li {
     display: inline-block;
     background:#B0E4AF;
     margin-top: 5px;
     border-radius: 5px;
     text-align: center;
     width: 100%;
     font-size: 10px;
 }
/* .calendar_page .days .day span {
  position: absolute;
  font-size: 12px;
  top: 0;
  left: 0;
} */
